

#Daniel{
    background-color: hsl(263, 55%, 52%);
    max-width: 300px;
    max-height: 505px;
}

#Jonathan{
    background-color: hsl(217, 19%, 35%);
    max-width: 300px;
    max-height: 400px;
    

}

#Patrick{
    background-color: hsl(219, 29%, 14%);
    max-width: 300px;
    max-height: 505px;
}

#Kira, #Jeanette{
    background-color: hsl(0, 0%, 100%);
    max-width: 300px;
    max-height: 570px;
}



@media (min-width: 768px){
    #Daniel{
        min-width: 570px;
        max-height: 340px;
    }
    #Jonathan{
        min-width: 270px;
        max-height: 340px;
    }
    #Kira{
        min-height: 720px;
    }
    #Patrick{
        min-width: 570px;
        max-height: 340px;
    }
    p{
        font-size: 14px !important;
    }
    h5{
        font-size: 22px !important;
    }
}

.profile-image-Daniel{

    border: 2px, solid, hsl(264, 82%, 80%);
    border-radius: 50%;
}

.profile-image-Patrick{

    border: 2px, solid, hsl(263, 55%, 52%);
    border-radius: 50%;
}
