

#Daniel{
    background-color: hsl(263, 55%, 52%);
    min-width: 300px;
    max-height: 505px;

}
@media (min-width: 768px){
    #Daniel{
        min-width: 700px;
        max-height: 400px;
    }

}

.profile-image{

    border: 2px, solid, hsl(264, 82%, 80%);
    border-radius: 50%;
}